<div>
    <h1 id="tableLabel" class="pull-left">User</h1>
    <button class="btn btn-primary pull-right" routerLink="new">New User</button>
  </div>

  <p *ngIf="!users"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Email Confirmed?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userName}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.emailConfirmed ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn" routerLink="{{user.id}}"><i class="fa fa-edit"></i></button>
          <button class="btn" (click)="onDeleteClicked(user.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
