<div class="signin-content">
    <h1>Reset Password</h1>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!resetPasswordDone">

        <div class="form-group" *ngIf="!token">
            <label for="token">Reset Password Token</label>
            <input type="password" class="form-control" formControlName="token" id="token" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.token.errors }" />
            <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
              <div *ngIf="f.token.errors.required">
                Reset password token is required.
              </div>
            </div>
          </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword" id="newPassword" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required">
                New Password is required.
              </div>
            </div>
          </div>

        <div class="form-group">
            <label for="confirmNewPassword">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }" />
            <div *ngIf="submitted && isPasswordMatchInvalid" class="invalid-feedback">
              <div>
                Password does not match
              </div>
            </div>
          </div>
          <button class="btn btn-default" type="button" [disabled]="loading" routerLink="/login">Back to Login Page</button>
          <button class="btn btn-primary" [disabled]="loading">Submit</button>
        </form>

        <div *ngIf="resetPasswordDone">
          <p>Password has been reset.</p>
          <button class="btn btn-default" routerLink="/login">Back to Login Page</button>
        </div>
  </div>
