.events-modal-desktop {
  height: 550px;
}

img{
  vertical-align: unset;
}

.image-column {
  display: inline-block;
}

.table{
  width: 100%;
}

#table-container {
  height: 330px;
  width: 700px;
  margin-bottom: 10px;
}

.table th, td {
  color: #fff !important;
  border-top: none;
  padding-left: 0px;

  a {
    color: #fff !important;
  }
}

.table thead th {
  border-bottom: 1px solid #808080;
}

div[class^="col-"]{
  padding: 0px !important;
}

div.row{
  margin: 0px !important;
}

h4{
  color: #fff;
  font-weight: 650;
}

.footer{
  margin-bottom: 0px;
}

.pre-header {
  color: #fff;
  font-size: .9em;
}

.toggle-check-input {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.toggle-check-text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #818181;
  padding: 0em 0.5em 0em 2em;
  border-radius: 1em;
  min-width: 2em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}

.toggle-check-text:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1em;
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
  content: 'No';
}

.toggle-check-input:checked ~ .toggle-check-text {
  background: #fd922f;
  padding-left: 0.5em;
  padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
  content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
  left: 100%;
  margin-left: -1.4em;
}

.btn-outline-orange{
  margin-left:20px;
}

a:hover{
  color: #f0f0f0;
}

tbody {
  display:block;
  height:250px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:400px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track { // set style to track
  background : #ff9f40;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb { // sets style to thumb
  background : #ffffff;
  border-radius: 10px;
  box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}

.events-modal-mobile > div > img {
  width: 100%;
}

.field-title {
  width: 35%;
  float: left;
}

.field-value{
  width: 65%;
}

.clear-field{
  clear: both;
  margin-bottom: 10px;
}

.events-content {
  height: 200px;  
  overflow: auto;
  margin-bottom: 25px;
  color : white;
  a{
    color : white;
  }
}

.event-name-popup {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .event-detail-mobile{
    border-top: 1px solid darkslategrey;
  }

  .events-modal-desktop{
    display: none;
  }

  .events-modal-mobile{
    display: block;
  }

  .events-container {
    padding: 20px;
  }

  .footer{
    float: left;
  }

  .btn-outline-orange{
    margin-left: 0;
  }

  .field-title{
    font-size: 10px;
  }

  .field-value{
    font-size: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1025px) {
  .events-modal-desktop{
    display: block;
  }

  .events-modal-mobile{
    display: none;
  }

  .events-container {
    position: relative;
    top: -70px;
    left: 30px;
    display: inline-block;
    padding: 20px;
  }
}

@media screen and (max-width: 414px) {
  .footer{
    float: none !important;

    div.button-footer{
      display: grid;
      button {
        width: 50%;
        margin-left: 25%;
      }
    }
  }
}
