/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.page-wrapper .page-body-wrapper footer a {
  color: #a5a5a5;
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: 0.7px;
}

.image-logo-size {
  max-width: 50%;
}
