
    <h1>Forgot Password</h1>

  <div class="progress" style="height: 1px;" *ngIf="loading">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <section>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!resetPasswordRequested">
        <p>Please enter the email address of your account</p>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter valid email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              Email is required.
            </div>
            <div *ngIf="f.email.errors.email">
              Please enter valid email address.
            </div>
          </div>
        </div>
        <button class="btn btn-default" type="button" [disabled]="loading" routerLink="/login">Back</button>
        <button class="btn btn-primary" [disabled]="loading">Submit</button>
      </form>

      <div *ngIf="resetPasswordRequested">
        <p>You reset password request has been submitted. Please check your email for further instructions.</p>
        <button class="btn btn-default" routerLink="/login">Back to Login Page</button>
      </div>
        </section>
      </div>
    </div>
