<h1 id="tableLabel">Product</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name}}</td>
      <td>{{ product.created.toLocaleString() }}</td>
      <td>{{ product.updated && product.updated.toLocaleString() }}</td>
    </tr>
  </tbody>
</table>
